<h1 xmlns="http://www.w3.org/1999/html">Welcome to the GYG CA Inventory Management System</h1>
<p>
  <em>What do you need to do?</em><br />
  --Inventory Importing--<br />
  <%= link_to 'Add Inventory Items from File', uploads_path %><br />
  <%= link_to 'View/Modify Inventory Items', inventory_items_path %><br />
  <%= link_to 'View/Modify Scans', scans_path %><br />
  <br />
  --Other Tools--<br />
  Compare CA Export to Scanned Inventory File -- Coming Soon!
</p>
