<h1>Welcome to the GYG CA Inventory Management System</h1>
<p>
  What do you need to do?<br />
  <%= link_to 'Add Inventory Items from File', uploads_path %><br />
  <%= link_to 'View/Modify Inventory Items', inventory_items_path %><br />
  <%= link_to 'View/Modify Scans', scans_path %><br />

</p>
