<h1><center>Welcome to the GYG CA Inventory Management System</center></h1>
<p>
  <b><em>What do you need to do?</em></b><br /><br />
  <em>
    --Inventory Management--<br />
  </em>
  <%= link_to 'Add Inventory Items from File', uploads_path %><br />
  <%= link_to 'View/Modify Inventory Items', inventory_items_path %><br />
  <%= link_to 'Create/View/Modify Scan Batch', scans_path %><br />
  <%= link_to 'Export Finished Inventory', scan_batch_file_exports_path %><br />
  <br />
  <em>
    --Other Tools--<br />
  </em>
  Compare CA Export to Scanned Inventory File -- Coming Soon!
</p>
