<h1>Inventory File Export</h1>
<p>The file download should begin shortly. Please wait...<br>
Scan Id: <%= @scan_id %><br>
Scan title: <%= @scan.title %><br></p>
<br />
<%= link_to 'Go Home', welcome_index_path %>