/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
    margin: 5;
    padding-top: 10;
    padding-right: 10;
    padding-left: 10;
    padding-bottom: 10;
    background: #050505 url(/assets/img01.jpg) repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #707070;
}

h1, h2, h3 {
    margin: 5;
    padding: 10;
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    color: #bababa;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 2.8em;
}

h3 {
    font-size: 1.6em;
}

p, ul, ol {
    margin-top: 2;
    line-height: 180%;
    color: #bababa;
}

ul, ol {
}

a {
    color: #707070;
}

a:hover {
}

table{
    border: maroon;
    border-style: solid;
}

td, th {
    border: #696969;
    border-style: dotted;
    border-width: 1px;
    color: #d7d7d7;
}

div {
    color: #707070
}

span.page{
    color: maroon;
}

h1.true{
    background-color: green;
    color: #ffffff;
    padding: 10px;
    text-transform: none;
}

h1.false{
    background-color: red;
    color: #ffffff;
    padding: 10px;
    text-transform: none;
}